
.signupForm {
  margin: auto;
  margin-top: 30px;
  width: 40vw;
  background-color:aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
}

.errorText {
  color: red;
  font-size: small;
}

.successText {
  color: green;
  font-size: small;
}

.linkText {
  color: grey;
  font-size: small;
  text-decoration: none;
}