
.container {
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px lightgrey;
  display: flex;
}
.container:hover {
  transform: scale(1.02);
  transition: 1s;
}

.detailsBox {
  display: flex;
  padding-left: 20px;
  padding-bottom:10px;
  flex-direction: column;
  width: 85%;
  height: 150px;
  justify-content: space-between;
}

.noImage {
  width: 150px;
  height: 150px;
  background-color: aliceblue;
}

.image {
  width: 150px;
  height: 150px;
}

.showDeleteIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  padding: 10px;
  height: 30px;
  cursor: pointer;
}
.showDeleteIcon:hover {
  background-color: aliceblue;
}
.showDeleteIcon:active {
  background-color: azure;
}

.hideDeleteIcon {
  display: none;
}
