.modalShow {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  width:100%;
  height: 100%;
  background: rgb(239,248,254);
  padding: 3%;
  padding-left: 7%;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modalHide {
  display:none;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.closeIcon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
}
.closeIcon:hover {
  background-color: lightgrey;
}
.closeIcon:active {
  background-color: grey;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
.recipeYield {
  font-size: 1.5rem;
  font-weight: 100;
  color: grey;
}

.ingredient {
  margin: 10px;
}

.prepareHeader {
  font-size: 1.5rem;
  font-weight: 100;
  color: grey;
  margin-top: 20px;
}