body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-family:"Helvetica Neue",Helvetica,Arial!important;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 20vh;
  text-align: center;
  color: black;
  opacity: 0.7;
}

input {
  display: block;
  width: 80%;
  margin: 10px;
  padding: 10px;
  outline: none;
  border: 0;
  box-shadow: 0 0 2px lightgrey;
  border-radius: 5px;
}

button {
  margin: 10px;
  background-color: white;

}