
.container {
  height: 50px;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  color: black;
  font-weight: 200;
}


