
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 45vh;
}

.title {
  font-weight: 200;
  font-size: 1.2rem;
}

.loginForm {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px white;
}


.errorText {
  color: red;
  font-size: small;
}

button {
  margin: 10px;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;
}
button:hover {
  background-color: #d6daf0;


}

.linkText {
  color: grey;
  font-size: small;
  text-decoration: none;
}