.modalShow {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  width:100%;
  height: 100%;
  background: rgb(239,248,254);
  padding: 3%;
  padding-left: 7%;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.modalHide {
  display:none;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
  background-color: aliceblue;
  box-shadow: none;
  font-family:"Helvetica Neue",Helvetica,Arial;
  padding: 0;
  width: 100%;
}

.closeIcon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: left;
  cursor: pointer;
}
.closeIcon:hover {
  background-color: lightgrey;
}
.closeIcon:active {
  background-color: grey;
}